<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDB</title>
    <a href="/movies/new">Create a Movie</a>
    <a href="/movies">Movies</a>
</head>
<body>
    <h1>Welcome to MovieDB!</h1>
    <p>Your spot for putting movies in a database.</p>
</body>
</html>