<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Index</title>
    <a href="/movies/new">Create a Movie</a>
    <a href="/">Go Home</a>
</head>
<body>
    <h1>All Movies</h1>
    <ul>
        <% movies.forEach((movie) => { %>
            <li><a href="/movies/<%= movie._id %>"><%= movie.name %></a></li>
        <% }) %>
    </ul>
</body>
</html>